# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Python app to Azure Web App - lifeinsuranceunderwriting

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'Life-Insurance-Underwriting/**'
      - '.github/workflows/main_lifeinsuranceunderwriting-frontend.yml'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_FED8654EF8A14B4CAEBE6735DF6D2ED2 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_3B8A925D4CD64660AEB3F64140D5C46B }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_039D03D4A4564492B9F838E9045DE959 }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'lifeinsuranceunderwriting'
          slot-name: 'Production'
          package: '.'
